@media (max-width: 992px) {
    /* navbar */
    .navbar-brand img {
        width: 120px;
    }
    .navbar-nav {
        margin: auto;
    }
    .navbar-nav form input {
    
    .navbar-nav .form-control {
        width: 100%;
    }
    
    .navbar-nav .btn {
        width: 100%;  
        margin: 10px 0px 10px 0px; 
    }
}