
.navbar-brand img {
    width: 120px;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav form input {
    width: 400px;
    margin-right: 20px;
}

.navbar-nav .btn {
    width: 120px;
}

.navbar-nav .profil {
    background: none;
    border: none;
}
/*navbar*/

#daftar form label{
    font-weight: 600;
    margin: 10px 0px 10px 0px;
}

#order .info-buyer #row-bank {
    margin-top: 10px;
}
#order .info-buyer #row-bank p {
    margin: 0px 0px 0px 0px;
}